name: Test

on: [push]

jobs:
  build:

    strategy:
      matrix:
        go-version: [ '1.24.x' ]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      -
        name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      -
        name: Tests
        run: |
          go mod tidy
          go install github.com/axw/gocov/gocov@latest
          go install github.com/AlekSi/gocov-xml@latest
          go test -cover -v -failfast -p 1 $(go list ./...) -coverprofile cover.out
          gocov convert cover.out | gocov-xml > coverage.xml
      -
        name: Codacy Coverage Reporter
        uses: codacy/codacy-coverage-reporter-action@v1.3.0
        with:
          coverage-reports: coverage.xml
        if: runner.os != 'Windows'
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
